################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/java
/spring_sys.exe
/.vs
